<div class="flex flex-col w-full h-36 justify-center items-center gap-6 bg-[var(--global-page-title-background-color)]">
  <h2 class="font-bold text-4xl">{{'page.howItWorks.title' | translate}}</h2>
  <span class="text-lg">{{'page.howItWorks.description' | translate}}</span>
</div>
<div class="p-16">
  @for (item of items(); track item.value.id) {
    <div class="flex w-full gap-8 items-center px-96">
      <div class="flex flex-col gap-4 flex-1">
        <i class="material-symbols-outlined text-4xl">{{materialSymbols.INFO}}</i>
        <span class="font-bold text-3xl" [id]="item.value.id">{{item.label}}</span>
        <p class="text-2xl">{{item.value.description}}</p>
        @if (item.value.details) {
          @for (detail of item.value.details; track detail.id) {
            <div class="flex items-center gap-4">
              <i class="material-symbols-outlined text-lg" [ngClass]="detail.iconColor">{{detail.icon}}</i>
              <span>{{detail.label}}</span>
            </div>
          }
        }
      </div>
      <div class="relative flex-1 h-96 rounded-2xl overflow-hidden">
        <img class="object-cover" fill [alt]="item.label" [ngSrc]="item.value.image">
      </div>
    </div>
  }
</div>
