/* You can add global styles to this file, and also import other style files */
@use 'tailwindcss';
@use 'primeicons/primeicons.css';
@plugin 'tailwindcss-primeui';

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}
