:root {
  --global-background-color: light-dark(var(--p-surface-0), var(--p-surface-900));
  --global-page-title-background-color: light-dark(var(--p-surface-50), var(--p-surface-900));
  /*GLOBAL ICONS*/
  --info-icon-color: light-dark(theme('colors.blue.500'), theme('colors.blue.300'));
  --location-icon-color: light-dark(theme('colors.red.500'), theme('colors.red.300'));
  --rating-icon-color: light-dark(theme('colors.yellow.500'), theme('colors.yellow.300'));
  /*Footer*/
  --footer-divider-border-color: light-dark(theme('colors.gray.700'), theme('colors.gray.300'));
  /*How It Works*/
  /*Quick Selection*/
  --handy-person-icon-color: light-dark(theme('colors.yellow.500'), theme('colors.yellow.100'));
  --landscaping-icon-color: light-dark(theme('colors.green.500'), theme('colors.green.100'));
  --plumbing-icon-color: light-dark(theme('colors.blue.500'), theme('colors.blue.100'));
  --cleaning-icon-color: light-dark(theme('colors.purple.500'), theme('colors.purple.100'));
  --electrical-icon-color: light-dark(theme('colors.orange.500'), theme('colors.orange.100'));
  --concrete-icon-color: light-dark(theme('colors.gray.500'), theme('colors.gray.100'));
  --painting-icon-color: light-dark(theme('colors.pink.500'), theme('colors.pink.100'));
  --roofing-icon-color: light-dark(theme('colors.slate.500'), theme('colors.slate.100'));
  --fencing-icon-color: light-dark(theme('colors.amber.700'), theme('colors.amber.100'));
  --hvac-icon-color: light-dark(theme('colors.cyan.500'), theme('colors.cyan.100'));
  --remodeling-icon-color: light-dark(theme('colors.teal.500'), theme('colors.teal.100'));
  --windows-icon-color: light-dark(theme('colors.sky.500'), theme('colors.sky.100'));
}
